// === fonts === //

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&family=Playfair+Display:wght@400;700;800&display=swap');

// === / fonts  === //




//  === mixins === //
@mixin font-main {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.025em;
}

@mixin font-second {
    font-family: 'Playfair Display', serif;
}


@mixin btn-main {
    display: inline-block;
    width: 8vw;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #c2c2c2;
    padding: 0.2vh 0.5vw;

    font-size: 12px;
    color: #000;
}

@mixin note {

    // === note === //

    .note {

        &-wrap {
            justify-content: space-between;
        }

        &-top {
            @include font-main();

            padding-top: 3vh;
            padding-left: 3vw;

            border-bottom: 2px solid rgba(85, 85, 85, 0.2);
            margin-right: 2vw;
            margin-left: 2vw;

            font-size: 20px;
            font-style: italic;
            font-weight: 400;
            color: #000;
        }

        .error {

            max-width: 40vw;
            height: 85vh;
            background-image: url("../img/empty_dish.jpg");
            background-position: center;
            background-size: 120%;


            &-desc {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                margin-top: 24vh;

                &__title {

                    font-size: 34px;
                    font-weight: 900;

                }

                &__text {
                    @include font-second();
                    width: 12vw;
                    text-align: center;

                    font-weight: 900;
                    text-transform: uppercase;
                    color: #a9a9a9;
                }

                &__img {
                    margin-bottom: 20vh;
                }

                &__link {
                    a {
                        @include btn-main();
                    }
                }
            }

        }

        .author {
            margin-left: 2vw;
            width: 40vw;
            height: 85vh;
            background-color: #fff;

            &-wrap {
                display: flex;
                margin-left: 2vw;
                margin-top: 4vh;
            }

            &-info {
                margin-top: 1vh;
                margin-left: 2vw;

                &__name {
                    font-weight: 600;
                    font-size: 24px;
                }

                &__country {
                    font-weight: 300;
                    font-size: 14px;
                }

                .social {
                    border-bottom: 1px solid rgba(85, 85, 85, 0.2);
                    margin-right: 4vw;
                    padding-bottom: 2vh;

                    .fa {
                        color: rgba(85, 85, 85, 0.5);
                        padding-left: 0.5vw;

                        &:first-child {
                            padding-left: 0;
                        }
                    }
                }

                &__about {
                    margin-top: 2vh;
                    font-style: italic;

                    &-title {
                        font-size: 20px;
                        font-weight: 500;
                        margin-bottom: 2vh;

                    }

                    &-text {
                        width: 24vw;

                        font-size: 14px;
                    }

                    &-signature {
                        margin-left: 8vw;
                        margin-bottom: 2vh;
                    }

                }


            }


        }
    }



    // === note === //
}

// === / mixins === //


//  === variables === //

$color-main-bg: #eaeaea;
$color-section-bg: #ffffff;


$screeen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;



$screeen-xs-max: 575px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

//  === / variables === //


// === common  === // 
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

header,
section {
    margin-right: 2vw;
    margin-left: 2vw;
}

img {
    max-width: 100%;
    margin: 0 auto;
}



ul li {
    list-style: none;
}

a,
a:hover,
a:visited {
    text-decoration: none;
    display: inline-block;
}


body {
    @include font-main();

    background-color: $color-section-bg;

}

.logo {
    img {
        width: 100%;
    }
}

// === / common  === // 


// ===  header === //



.header {
    margin-bottom: 5vw;
    height: 16vh;

    background-color: $color-section-bg;

    .logo {
        margin-top: 4vh;
    }

    .nav {

        &-list {

            &__item {}

            &__link {
                color: #000;
                line-height: 1.2;
                margin-right: 3vw;
                margin-top: 6vh;
                text-transform: uppercase;

            }
        }

    }

    .search {
        margin-top: 5vh;
        margin-left: 2vw;
        margin-right: 2vw;

        form {
            background-color: $color-section-bg;
            padding-left: 2vw;
            border: 1px solid #c2c2c2;
            margin-right: 1vw;
            margin-left: 1vw;
            width: 20vw;


        }

        input {
            outline: none;
            width: 14vw;
            padding-right: 1vw;
            margin-left: 2vw;



            background-color: $color-section-bg;

            &:focus,
            &:active {
                opacity: 0.3;
            }

            &::placeholder {
                text-transform: uppercase;
                font-size: 12px;
                text-align: center;

            }
        }

        .fa {
            color: #c1c1c1;
            font-size: 12px;
        }
    }

    @media (max-width: $screen-lg-max) {

        .search {
            form {
                padding-left: 0;

                margin-right: 0;
                margin-left: 0;
            }
        }

        .nav {
            margin-right: 0;

            &-list {
                &__link {
                    margin-right: 0.7vw;
                }
            }
        }
    }

    @media (max-width: $screen-md-max) {
        .nav {
            display: none;
        }
    }

}


// === / header === //


// === hero === //


.hero {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 4vw;


    background: url("../img/hero.png") no-repeat 100% 100%;
    background-size: cover;


    &-info {
        flex-direction: column;


        &__logo {
            margin-bottom: 5vh;
            margin-right: 2vw;
        }

        &__title {
            @include font-second();


            margin-bottom: 2vh;

            font-size: 24px;
            font-weight: 600;
            color: #921026;

        }

        &__text {
            margin-bottom: 3vh;
            max-width: 30vw;

            font-weight: 400;
        }

        &__link {

            a {
                @include btn-main();

                width: 10vw;
            }

        }

    }

    @media (max-width: $screen-md-max) {}
}








// === / hero === //


// === meals  === //


.meals {

    padding-top: 6vh;
    padding-bottom: 6vh;


    &-wrap {
        display: flex;
        justify-content: space-around;
    }

    &__item {
        margin-right: 1vw;

        &:last-child {
            margin-right: 0;
        }




        &-photo {
            img {}
        }

        &-name {
            width: 26vw;
            margin-top: 1vh;
            margin-bottom: 1vh;
            font-weight: 400;
        }

        &-statistics {
            display: flex;

            font-family: 'OpenSans', sans-serif;
            font-size: 12px;
            line-height: 1.2;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #555555;

            .posted {
                display: flex;
                padding-right: 0.5vw;
                margin-right: 0.5vw;
                border-right: 1px solid #c4c4c4;
                height: 2vh;
            }

            .comments {
                display: flex;
                padding-right: 0.5vw;

            }

            .previews {
                display: flex;
                padding-right: 0.5vw;
            }

            .fa {
                padding-right: 0.3vw;
            }
        }
    }


    .fa-comment {
        color: white;
        text-shadow: 0 0 3px #000;
    }

    @media (max-width:$screen-lg-max) {
        &-list {

            &__item {

                width: 26vw;
                margin-right: 3vw;

                &-photo {
                    img {}
                }

                &-name {
                    width: 23vw;
                    margin-top: 1vh;
                    margin-bottom: 1vh;
                    font-weight: 400;
                }
            }
        }
    }

    @media (max-width: $screen-md-max) {
        &-list {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__item {


                width: 60vw;
                margin-right: 0;

                &-photo {
                    width: 50vw;

                    img {}
                }



            }
        }
    }
}

// === / meals  === //



// ===  recipe  === //

.recipe {


    &-wrap {
        background: url("../img/recipe_desc.png") no-repeat center;
        background-size: cover;

    }

    &-info {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 2vh;

        &__title {
            @include font-second();
            margin-right: 4vw;

            font-size: 32px;
            font-weight: 900;
            color: #055555;
        }

        &__top {
            display: flex;
            justify-content: space-between;


            &-time {
                padding-right: 1vw;

            }

            &-level {}

            &-favorite {
                align-items: flex-end;
                margin-left: 22vw;
                margin-right: 4vw;

                a {
                    display: inline-block;
                    text-transform: uppercase;
                    border: 1px solid #c2c2c2;
                    padding: 0.2vh 0.5vw;

                    font-size: 12px;
                    color: #000;

                }

            }
        }

        &__bottom {
            max-width: 39vw;
            overflow-y: auto;

            margin-right: 2vw;

            font-size: 16px;

            &__ingredients {
                @include font-main();
                margin-bottom: 2vh;

                font-weight: 400;



            }

            &__directions {
                &_title {
                    @include font-second();

                    margin-bottom: 2vh;

                    font-weight: 900;

                }

                &_desc {
                    @include font-main();

                    font-weight: 400;

                    span {
                        font-family: 'Sylfaen';
                        font-weight: 400;
                    }
                }

            }

        }
    }
}

// === / recipe  === //




// ===  footer  === //

.footer {
    padding: 6vh 0;
    background-color: #000;
    color: rgba(254, 254, 254, 0.6);
    font-size: 14px;



    .nav {
        margin-top: 3vh;

        &-list {
            &__link {
                margin-left: 1vw;
            }

            a {
                display: inline-block;
                text-transform: uppercase;
                color: rgba(254, 254, 254, 0.6);
            }
        }
    }

    .rights {
        margin-left: 14vw;
        font-size: 13px;


    }

    .social {
        align-items: flex-end;
        justify-content: flex-end;
    }

    .fa {
        margin-left: 1vw;
        margin-right: 0.5vw;
    }


    @media (max-width: $screen-md-max) {
        .nav {
            margin-top: 2vh;

            &-list {
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-end;
                margin-left: 25vw;

                border-bottom: 1px solid rgba(255, 255, 255, 0.5);

                &__link {
                    margin-left: 1vw;
                }

                a {
                    display: inline-block;
                    text-transform: uppercase;
                    color: rgba(254, 254, 254, 0.6);
                }
            }
        }

        .social {
            justify-content: flex-start;
            align-items: flex-start;

        }

    }

    @media (max-width: $screen-sm-max) {
        .nav {

            &-list {

                &__link {
                    font-size: 12px;
                    margin-left: 0;
                }

            }
        }

        .social {
            justify-content: flex-start;
            align-items: flex-start;

        }

        .rights {
            .fa-copyright {
                margin-left: 0;
                margin-right: 6vw;
            }
        }

    }
}
    // === / footer  === //